.falling-bottles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}
.falling-bottle {
    position: absolute;
    top: -100px;
    width: 100px;
    height: 100px;
    background-image: url('../pages/Analisis/Imagenes/xdd.png');
    background-size: cover;
    animation: fall 5s infinite ease-in;
    z-index: 1;
    opacity: 0.5;
}


.falling-bottle:nth-child(1) {
    left: 10%;
    animation-duration: 4s;
    animation-delay: 0s;
}

.falling-bottle:nth-child(2) {
    left: 50%;
    animation-duration: 6s;
    animation-delay: 1s;
}

.falling-bottle:nth-child(3) {
    left: 80%;
    animation-duration: 5s;
    animation-delay: 2s;
}

@keyframes fall {
    0% {
        top: -100px;
    }
    100% {
        top: 100vh;
    }
}
